<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layouts/default">
<head>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${event.name}">Event Name</h1>
    <h4><a th:href="@{/org/} + ${event.org.id}" th:text="${event.org.name}">Org</a></h4>
    Start: <h4 th:text="${event.start}">Start</h4>
    End: <h4 th:text="${event.end}">End</h4>
    <div sec:authorize="isAuthenticated()">
        <h4 th:if="${event.containsUser(#authentication.principal)}">
            <a class="btn btn-primary btn-sm" th:href="@{/event/leave/} + ${event.id}">Leave</a>
        </h4>
        <h4 th:if="${!event.containsUser(#authentication.principal) and event.org.isUserAMember(#authentication.principal.id)}">
            <a class="btn btn-primary btn-sm" th:href="@{/event/join/} + ${event.id}">Join</a>
        </h4>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="center">User Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${event.members}">
            <td class="center" th:text="${member.user.userName}">User Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>