<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${org.name}">Org Name</h1>
    <h4 th:text="${org.description}">Org Description</h4>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="center">User Name</th>
            <th class="left">Role</th>
            <th class="left">Staff</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${org.members}">
            <td class="center" th:text="${member.user.userName}">User Name</td>
            <td class="left" th:text="${member.role}">Role</td>
            <td class="left" th:text="${member.staff}">Staff</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="center">Event Name</th>
            <th class="left">Start</th>
            <th class="left">End</th>
            <th class="left">Participants</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${org.events}">
            <td class="center"><a th:href="@{/event/} + ${event.id}" th:text="${event.name}">Name</a></td>
            <td class="left" th:text="${event.start}">Start</td>
            <td class="left" th:text="${event.end}">End</td>
            <td class="left" th:text="${#lists.size(event.users)}">1000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>